header{
    background: linear-gradient(
      rgb(247, 4, 44) 0%,
      rgb(248, 5, 45) 49.5%,
      rgba(0, 0, 0, 0) 49.5%,
      rgba(0, 0, 0, 0) 50.5%,
      rgb(247, 250, 250) 50.5%,
      rgb(245, 250, 250) 100%
    );
}

/* Home Page Styling */
#home_page{
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F6%2F2022%2F12%2F16%2FPokemon-121622-1.jpg&q=60");
 background-size: cover;
  display: flex;
  overflow:hidden;
}
.pokemon_logo{
  position: absolute;
  left: 10px;
  width: 500px; 
}

@media (max-width: 768px) {
  .pokemon_logo {
    width: 100px;
  }
}

.title{
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  font-size: 100px;
  bottom: 100px;
  right: 100px;
  width: 1200px; /* default width */
  color: rgba(255, 205, 2, 1);
  text-shadow: 4px 4px 25px rgba(43, 114, 254, 1);
}
@media (max-width: 768px) {
  .title {
    width: 100px; /* smaller width for smaller screens */
  }
}

/* PokemonShow Styling */
.show_page{
  background-image: url("./assets/B7GKxs.png");
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}
.show_card{
 position: absolute;
 left: 500px;
 width: 18rem;

}



/* not found styling */
.not_found{
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("https://2.bp.blogspot.com/-IuhQYXg1fzY/XSTeS6whDYI/AAAAAAAAmPo/XNjXUN_rrVUpBtHEQuqXATCL8XzG7m0EACLcBGAs/s1600/Digimon-adventure-sin-relleno.jpg");
 background-size: cover;
  display: flex;
  overflow:hidden;
}
